html
  head
    title Login to authorize app
    link(rel="stylesheet", href="/styles/login.css")
  body
    h1 Login to authorize app
    form(action="/login", method="POST")
      input(type="hidden", name="client_id", value=client_id)
      input(type="hidden", name="redirect_uri", value=redirect_uri)
      input(type="hidden", name="scope", value=scope)
      input(type="hidden", name="response_type", value=response_type)
      input(type="hidden", name="response_mode", value=response_mode)
      input(type="hidden", name="state", value=state)
      input(type="hidden", name="nonce", value=nonce)
      label(for="username") Username:
      input(type="text", id="username", name="username", style="margin-left: 0.5rem")
      label(for="password", style="margin-left: 1rem") Password:
      input(type="password", id="password", name="password", style="margin-left: 0.5rem")
      button(type="submit", style="margin-left: 1rem") Register
      
